<!DOCTYPE html>
<html>
<head>
    <title>Page de test</title>
</head>
<body>
    <h1>Training</h1>
    <!-- Upload du fichier -->
    <form method="POST" enctype="multipart/form-data" action="/api/scribmaps/upload/">
        <input type="file" name="myfile">
        <input type="submit" value="Upload">
    </form>
    <!-- Lancement de l'entrainement -->
    <form method="POST" action="/api/scribmaps/start_training/">
        <input type="submit" value="Lancer l'entraînement">
    </form>

    <h1>Predict</h1>
    <!-- Predict -->
    <form id="predictForm">
        <input type="text" id="saisie" name="saisie">
        <input type="button" value="Predict" onclick="predict()">
    </form>
    
    <script>
        function predict() {
            let saisie = document.getElementById('saisie').value;
            fetch('/api/scribmaps/predict', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify({saisie: saisie})
            })
            .then(response => response.json())
            .then(data => {
                document.getElementById('result').innerText = JSON.stringify(data);
            })
            .catch(error => console.error('Error:', error));
        }
    </script>
</body>
</html>
